
.container7  {

    background-image: url("https://abrilexame.files.wordpress.com/2016/12/thinkstockphotos-541137274-e1481892729817.jpg?quality=70&strip=info&resize=680,453");
    background-repeat: no-repeat;
    background-position:  center;
    background-attachment: fixed;
    background-size: cover;
     
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.box-welcome  {

    background-color: #857e79;
    opacity: .8;
    float: left;
    height: 560px;
    width: 30%;
    margin: 50px 0 30px 40px;
    -webkit-box-shadow: 12px 9px 45px 28px rgba(133,126,121,0.82);
    -moz-box-shadow: 12px 9px 45px 28px rgba(133,126,121,0.82);
    box-shadow: 12px 9px 45px 28px rgba(133,126,121,0.82);  


     h3 { 
        margin-left: 2em;
        margin-top: .6em;
        color: black;
        font-family: 'Fredoka One', cursive;
        font-size: 1.5em;
}

}

